### C431229 조영주 
# **iterable자료형**
## 인덱싱과 슬라이싱
### 인덱싱

In [299]:
x_list = [0, 1, 2, 3, 4]
print(x_list[0])
print(x_list[1])
print(x_list[2])
print(x_list[3])
print(x_list[4])

0
1
2
3
4

In [300]:
x_list = [0, 1, 2, 3, 4]
print(x_list[-1])
print(x_list[-2])
print(x_list[-3])
print(x_list[-4])
print(x_list[-5])

4
3
2
1
0

In [301]:
try:
    print(x_list[5])
except IndexError as e:
    print(e)

list index out of range

In [302]:
x_list = [1, 2, 3, 4, 5]
x_tuple = [1, 2, 3, 4, 5]
print(f'{x_list = } \t=>{x_list[0] = }')
print(f'{x_tuple = } \t=>{x_tuple[-1] = }')

x_list = [1, 2, 3, 4, 5] 	=>x_list[0] = 1
x_tuple = [1, 2, 3, 4, 5] 	=>x_tuple[-1] = 5

In [303]:
x_dict = {'name' : ['김홍익', '이파이'], 'id':[12345, 67890]}
print(f'{x_dict = } \t=> {x_dict["name"][0] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	=> x_dict["name"][0] = '김홍익'

In [304]:
x_str = 'Hello World!'
print(f'{x_str = } \t\t=> {x_str[0] = }')
print(f'{x_str = } \t\t=> {x_str[3] = }')

x_str = 'Hello World!' 		=> x_str[0] = 'H'
x_str = 'Hello World!' 		=> x_str[3] = 'l'

### 슬라이싱

In [305]:
x_list = [0, 1, 2, 3, 4]
print(x_list[1:3])
print(x_list[1:])
print(x_list[:3])
print(x_list[:])

[1, 2]
[1, 2, 3, 4]
[0, 1, 2]
[0, 1, 2, 3, 4]

In [306]:
try:
    print(x_list[1:10])
except IndexError as e:
    print(e)

[1, 2, 3, 4]

In [307]:
x_list = [1, 2, 3, 4, 5]
x_tuple = (1, 2, 3, 4, 5)
print(f'{x_list = } \t=> {x_list[0:3] = }')
print(f'{x_tuple = } \t=> {x_tuple[-1:-4:-1] = }')

x_list = [1, 2, 3, 4, 5] 	=> x_list[0:3] = [1, 2, 3]
x_tuple = (1, 2, 3, 4, 5) 	=> x_tuple[-1:-4:-1] = (5, 4, 3)

In [308]:
x_dict = {'name': ['김홍익', '이파이'], 'id':[12345, 67890]}
print(f'{x_dict = } \t=> {x_dict["name"][0:1] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	=> x_dict["name"][0:1] = ['김홍익']

In [309]:
x_str = 'Hello World!'
print(f'{x_str = } \t\t==> {x_str[0:3] = }')
print(f'{x_str = } \t\t==> {x_str[-2:-10:-2] = }')

x_str = 'Hello World!' 		==> x_str[0:3] = 'Hel'
x_str = 'Hello World!' 		==> x_str[-2:-10:-2] = 'drWo'

## 얇은 복사와 깊은 복사 
#### immutable 객체의 assignment 예시

In [310]:
x = {1,2,3}
y = x
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

y = {1,20,3}
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

x = {1, 2, 3} 	=> id(x) = 1542287222688
y = {1, 2, 3} 	=> id(y) = 1542287222688
x = {1, 2, 3} 	=> id(x) = 1542287222688
y = {1, 3, 20} 	=> id(y) = 1542287216864

### mutable 객체의 얕은 복사 예시

In [311]:
x = [1,2,3]
y = x
print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

x = [1, 2, 3] 	=> id(x) = 1542274479808
y = [1, 2, 3] 	=> id(y) = 1542274479808

In [312]:
y[1] = 20

print(f'{x = } \t=> {id(x) = }')
print(f'{y = } \t=> {id(y) = }')

x = [1, 20, 3] 	=> id(x) = 1542274479808
y = [1, 20, 3] 	=> id(y) = 1542274479808

### mutable 객체의 깊은 복사 예시

In [313]:
x = [1,2,3]
y = x.copy()

print(f'{x = } \t=>{id(x) = }')
print(f'{y = } \t=>{id(y) = }')

x = [1, 2, 3] 	=>id(x) = 1542274389632
y = [1, 2, 3] 	=>id(y) = 1542274489408

In [314]:
y[1] = 20
print(f'{x = } \t=>{id(x) = }')
print(f'{y = } \t=>{id(y) = }')

x = [1, 2, 3] 	=>id(x) = 1542274389632
y = [1, 20, 3] 	=>id(y) = 1542274489408

## 리스트와 튜플
### 기본 사용법

In [315]:
x_list = [1, 2, 3, 4, 5]
x_tuple = (1, 2, 3, 4, 5)

print(f'x_list는 {type(x_list)}이고, x_tuple은 {type(x_tuple)}이다.')

x_list는 <class 'list'>이고, x_tuple은 <class 'tuple'>이다.

In [316]:
print(f'Before: {x_list =}')

try:
    x_list[1] = '2'
    del x_list[3]
except TypeError as e:
    print(f'Error : {e}')
print(f'After : {x_list = }')

Before: x_list =[1, 2, 3, 4, 5]
After : x_list = [1, '2', 3, 5]

In [317]:
print(f'Before: {x_tuple =}')

try:
    x_tuple[1] = '2'
except TypeError as e:
    print(f'Error : {e}')

try:
    del x_tuple[3]
except TypeError as e:
    print(f'Error : {e}')

print(f'After : {x_tuple = }')

Before: x_tuple =(1, 2, 3, 4, 5)
Error : 'tuple' object does not support item assignment
Error : 'tuple' object doesn't support item deletion
After : x_tuple = (1, 2, 3, 4, 5)

### 내장함수를 이용한 리스트와 튜플 다루기

In [318]:
x_list = [0, 1, 2, 3, 4]
print(f'{len(x_list) = }')
print(f'{sum(x_list) = }')
print(f'{min(x_list) = }')
print(f'{max(x_list) = }')
print(f'{sorted(x_list) = }')
print(f'{sorted(x_list, reverse=True) = }')
print(f'{all(x_list) = }')
print(f'{any(x_list) = }')

len(x_list) = 5
sum(x_list) = 10
min(x_list) = 0
max(x_list) = 4
sorted(x_list) = [0, 1, 2, 3, 4]
sorted(x_list, reverse=True) = [4, 3, 2, 1, 0]
all(x_list) = False
any(x_list) = True

### 객체 메서드를 이용한 리스트와 튜플 다루기

In [319]:
print(dir(x_list), end='\n'+'='*80+'\n')
print(dir(x_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
================================================================================
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### 각 메서드의 기능

In [320]:
x_list = [1, 2, 3, 4, 5, 2, 3, 2]
print(f'{x_list = }')
print(f'{x_list.count(2) = }')
print(f'{x_list.index(2) = }')

x_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_list.count(2) = 3
x_list.index(2) = 1

In [321]:
y_list = x_list.copy()
print(f'{y_list = }')
print(f'{x_list is y_list = }')
print(f'{id(x_list) = }, {id(y_list) = }')

y_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_list is y_list = False
id(x_list) = 1542273410560, id(y_list) = 1542274496320

In [322]:
x_list.reverse()
print(f'{x_list = }')

x_list = [2, 3, 2, 5, 4, 3, 2, 1]

In [323]:
x_list.sort()
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5]

In [324]:
x_list.append(6)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6]

In [325]:
x_list.extend([7, 8, 9])
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [326]:
x_list.append([10, 11, 12])
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [327]:
x_list.insert(3, 3.5)
print(f'{x_list = }')

x_list = [1, 2, 2, 3.5, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [328]:
x_list.remove(3.5)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [329]:
x_list.pop()
print(f'{x_list = }')
x_list.pop(7)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]
x_list = [1, 2, 2, 2, 3, 3, 4, 6, 7, 8, 9]

In [330]:
x_pop = x_list.pop(0)
print(f'{x_list = }, {x_pop = }')

x_list = [2, 2, 2, 3, 3, 4, 6, 7, 8, 9], x_pop = 1

In [331]:
del x_list
try:
    print(f'{x_list = }')
except NameError as e:
    print(f'Error : {e}')

Error : name 'x_list' is not defined

## 문자열
### 문자열(string) 생성

In [332]:
string1 = "Hello Python! My name is Python. I am a Pythin Developer."
print(string1)

Hello Python! My name is Python. I am a Pythin Developer.

In [333]:
string2 = "Hello Python! My name is Python. I am a Pythin Developer."
print(string2)

Hello Python! My name is Python. I am a Pythin Developer.

In [334]:
string3 = """Hello Python! 
My name is Python. 
I am a Pythin Developer.
"""
print(string3)

Hello Python!
My name is Python.
I am a Pythin Developer.

In [335]:
string4 = """Hello Python! 
My name is Python. 
I am a Pythin Developer.
"""
print(string4)

Hello Python!
My name is Python.
I am a Pythin Developer.

### 이스케이프 문자

In [336]:
string = 'Hello \tPython! \nMy \tname \tis \tPython. \nI \tam \ta \tPython \tDevloper.'
print(string)

Hello 	Python!
My 	name 	is 	Python.
I 	am 	a 	Python 	Devloper.

In [337]:
string = 'Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\"\tDevloper.'
print(string)

Hello 	\Python\!
My 	name 	is 	'Python'!.
I 	am 	a 	"Python"	Devloper.

### 문자열의 종류

In [338]:
string_r = r'Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\" \tDeveloper.'
print(string_r)

Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\" \tDeveloper.

In [339]:
name = 'Python'
string_f = f'Hello {name}! My name is {name}. I am a {name} Developer.'
print(string_f)

Hello Python! My name is Python. I am a Python Developer.

### 문자열의 인덱싱과 슬라이싱

In [340]:
string = "Hello Python! My name is Pyhon. I am a Python Developer"
print(f'''
{string[0]=}
{string[3]=}
{string[-1]=}
{string[-3]=}

{string[0:5]=}
{string[6:12]=}
{string[:5]=}
{string[6:]=}
{string[6:-1]=}
{string[6:-3]=}

{string[6:12:2]=}

{string[::2]=}

{string[::-1]=}
''')

string[0]='H'
string[3]='l'
string[-1]='r'
string[-3]='p'

string[0:5]='Hello'
string[6:12]='Python'
string[:5]='Hello'
string[6:]='Python! My name is Pyhon. I am a Python Developer'
string[6:-1]='Python! My name is Pyhon. I am a Python Develope'
string[6:-3]='Python! My name is Pyhon. I am a Python Develo'

string[6:12:2]='Pto'

string[::2]='HloPto!M aei yo.Ia  yhnDvlpr'

string[::-1]='repoleveD nohtyP a ma I .nohyP si eman yM !nohtyP olleH'

### 문자열 연산

In [341]:
string = "Hello Python! " + "My name is Python. " + "I am a Python Developer."
print(string)

Hello Python! My name is Python. I am a Python Developer.

### 문자열 관련 함수

In [342]:
string = "2024_바이오헬스 교과목 목록.xlsx"
print(len(string))
print('2024' in string)
print('csv' not in string)

22
True
True

## 딕셔너리
### Dictionary 생성 및 선언

In [343]:
my_dict1 = {}
my_dict2 = dict()

print(f'{my_dict1 = }\n{my_dict2 = }')

my_dict1 = {}
my_dict2 = {}

In [344]:
my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict2 = dict(name='Max', age= 28, city= 'New York')
my_dict3 = dict([('name', 'Max'), ('age', 28), ('city', 'New York')])
print(f'{my_dict1 = }\n{my_dict2 = }\n{my_dict3 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict2 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict3 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [345]:
person_keys = ['name', 'age', 'city']
person_values = ['Max', 28, 'New York']

my_dict4 = dict(zip(person_keys, person_values))
print(f'{my_dict4 = }')

my_dict4 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [346]:
my_dict_dict = {'A': {'name': 'Max', 'age':28, 'city': 'New York'},
                'B': {'name': 'Mary', 'age':22, 'city': 'Seoul'}}
print(f'{my_dict_dict = }')

my_dict_dict = {'A': {'name': 'Max', 'age': 28, 'city': 'New York'}, 'B': {'name': 'Mary', 'age': 22, 'city': 'Seoul'}}

In [347]:
from pprint import pprint
pprint(my_dict_dict)

{'A': {'age': 28, 'city': 'New York', 'name': 'Max'},
 'B': {'age': 22, 'city': 'Seoul', 'name': 'Mary'}}

### Dictionary 살펴보기

In [348]:
print(f'{my_dict1 = }')
print(f'{type(my_dict1) = }')
print(f'{len(my_dict1) = }')
print("name" in my_dict1)
print("Max" in my_dict1)

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
type(my_dict1) = <class 'dict'>
len(my_dict1) = 3
True
False

In [349]:
print(f'{my_dict1["name"] = }')

try: 
    print(f'{my_dict1["name2"] = }')
except KeyError as e:
    print(f'KeyError: {e}')

my_dict1["name"] = 'Max'
KeyError: 'name2'

In [350]:
print(f'{my_dict_dict["A"]["name"] = }')

my_dict_dict["A"]["name"] = 'Max'

In [351]:
print(f'{my_dict1.get("name") = }')
print(f'{my_dict1.get("name2") = }')
print(f'{my_dict1.get("name2", "replacement") = }')

my_dict1.get("name") = 'Max'
my_dict1.get("name2") = None
my_dict1.get("name2", "replacement") = 'replacement'

In [352]:
print(f'{my_dict1.keys() = }')
print(f'{my_dict1.values() = }')
print(f'{my_dict1.items() = }')

my_dict1.keys() = dict_keys(['name', 'age', 'city'])
my_dict1.values() = dict_values(['Max', 28, 'New York'])
my_dict1.items() = dict_items([('name', 'Max'), ('age', 28), ('city', 'New York')])

### Dictionaty 요소 추가, 삭제, 수정하기

In [353]:
print(f'{my_dict1 = }')
my_dict1["id"] = 123
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York', 'id': 123}

In [354]:
del my_dict1["id"]
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [355]:
my_dict1["age"] = 30
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 30, 'city': 'New York'}

In [356]:
my_dict1.update(age = 40, id = 123, occupation = "Data Scientist")
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 40, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [357]:
my_dict_more = {"age": 50, "affiliation": "Hongik Univ."}
my_dict1.update(my_dict_more)
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist', 'affiliation': 'Hongik Univ.'}

In [358]:
my_dict1.pop("affiliation")
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [359]:
occupation = my_dict1.pop("occupation")
print(f'{my_dict1 = }\n{occupation = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
occupation = 'Data Scientist'

In [360]:
try:
    my_dict1.pop("occupation")
except KeyError as e:
    print(f'KeyError: {e}')

occupation = my_dict1.pop("occupation", "unknown")
print(f'{occupation = }')

KeyError: 'occupation'
occupation = 'unknown'

In [361]:
print(f'{my_dict1 = }')

last = my_dict1.popitem()
print(f'{my_dict1 = }\n{last = }')

last = my_dict1.popitem()
print(f'{my_dict1 = }\n{last = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York'}
last = ('id', 123)
my_dict1 = {'name': 'Max', 'age': 50}
last = ('city', 'New York')

In [362]:
my_dict1.clear()
print(f'{my_dict1 = }')

my_dict1 = {}

# **iterable자료형_응용**

## 인덱싱과 슬라이싱

In [363]:
x_list = [0,1,2,3,4,5,9,9,11,100]
print(len(x_list))
# 전체 숫자 알 수 있음
print(x_list[:-1])
# 0번째부터 뒤에서 첫번째까지
x_tuple = (1,2,3,4,5)
print(x_tuple[-1:-4])
# 역순으로 입력시 빈 문자열이 나옴

print(x_tuple[-1:-4:-1])
# 역순으로 입력시 거꾸로 한 칸씩 출력할 수 있도록 -1 추가 

print(x_tuple[-1:-4:1])
# 1 입력시 빈 문자열
print(x_tuple[-1:-4:-2])
# 한 칸 건너뛰고 출력

10
[0, 1, 2, 3, 4, 5, 9, 9, 11]
()
(5, 4, 3)
()
(5, 3)

## 얕은 복사와 깊은 복사

In [364]:
x_tuple = [1,2,3]
y_tuple = x_tuple
print(id(x_tuple)) 
print(id(y_tuple))

y_list[1] = 13

print(f'{x_tuple = }\t {id(x_tuple) = }') 
print(f'{y_tuple = }\t {id(y_tuple) = }') 

# 튜플은 원소 변경이 되지 않기 때문에 메모리 주소가 동일

1542274709568
1542274709568
x_tuple = [1, 2, 3]	 id(x_tuple) = 1542274709568
y_tuple = [1, 2, 3]	 id(y_tuple) = 1542274709568

In [365]:
x = [1,2,3]
y = x.copy()

print(id(x_list))
print(id(y_list))

x[1] = 13
# x를 변경하면 y도 변경됨

print(f'{x_list = }\t {id(x_list) = }') 
print(f'{y_list = }\t {id(y_list) = }') 

# 메모리주소는 변경되지 않음

1542274481344
1542274496320
x_list = [0, 1, 2, 3, 4, 5, 9, 9, 11, 100]	 id(x_list) = 1542274481344
y_list = [1, 13, 3, 4, 5, 2, 3, 2]	 id(y_list) = 1542274496320

## 리스트와 튜플

### 내장함수를 이용한 리스트와 튜플 다루기

In [366]:
x_list = [0, 1, 2, 'a', 3]
try : 
    print(sum(x_list))
except TypeError as e:
    print(e)

## 문자열은 덧셈할 수 없음

unsupported operand type(s) for +: 'int' and 'str'

In [367]:
try : 
    print(f'{max(x_list)}')
except TypeError as e:
    print(e)

#문자열과 숫자 사이의 최댓값은 출력할 수 없음.

'>' not supported between instances of 'str' and 'int'

In [368]:
print(len('abcde'))
# 문자열의 글자수를 구해줌
len(())
# 빈 문자열 입력시 0 출력

5

0

In [369]:
x_list = [1,0,2]
y_list = [1,[0],2]
print(f'{all(x_list) = }')
print(f'{all(y_list) = }')

# [0]은 0으로 인식하지 않음

all(x_list) = False
all(y_list) = True

In [370]:
y_list = ['a', '2', 'v']
print(f'{max(y_list)}')

# 문자열 사이의 최댓값은 출력 가능

v

### 각 메서드의 기능

In [371]:
x_list = ['abc', 'a',2, 4, 2, 44,'A']
print(f'{x_list.count('a') = }')
# 대소문자 구분함

x_list.count('a') = 1

In [372]:
x_list.insert(2, 3)
print(f'{x_list = }')
# 동일 원소 존재시 가장 앞에 있는 원소에 적용

x_list = ['abc', 'a', 3, 2, 4, 2, 44, 'A']

In [373]:
try:
    x_list.remove[0:3]
except TypeError as e:
    print(e)
# 원소의 범위를 입력하여 제거 불가능

'builtin_function_or_method' object is not subscriptable

## 문자열

### 문자열 생성

In [374]:
str1 = """H
ELLO
MY NAME IS
YOUNGJU
hi
1
2
3
"""
# 큰따옴표 3개를 연속으로 둘러싸면 제한 없이 여러줄 가능
print(str1)

H
ELLO
MY NAME IS
YOUNGJU
hi
1
2
3

In [375]:
str2 = """hello
I am 
youngju."""   '''what is
your 
name?'''
print(str2)
# 큰따옴표 연속 3개와 작은 따옴표 연속 3개 같이 사용 가능

hello
I am
youngju.what is
your
name?

### 이스케이프 문자

In [376]:
string_1 = """hello 
i am\nyoungju.
thank\t you"""
print(string_1)
# 이스케이프문자와 큰따옴표 연속 3개 같이 사용 가능

hello
i am
youngju.
thank	 you

### 문자열의 종류

In [377]:
name = 'YoungJU'
string_b = f'Hello, my name is {name}. \n{name  } is a Python Developer.'
print(string_b)
# {name}에서 name 뒤에 공백이 있어도 출력 가능함

string_c = f'{name = }'
print(string_c)
# {name}에서 name 뒤에 =을 넣어도 출력 가능함

Hello, my name is YoungJU.
YoungJU is a Python Developer.
name = 'YoungJU'

### 문자열 연산

In [378]:
x_str = ('a'*5)+('b'*5)+('c'*5)
print(x_str)
# 문자열 반복과 연결 함께 사용 가능

print(list('a'*5+'b'*5))
print(['a']*5 + ['b']*5)
# 리스트에 적용 가능.
# list()와 []의 값이 동일함

aaaaabbbbbccccc
['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b']
['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b']

In [379]:
('a')*5+('b')*5
# tuple로 나오지 않음

'aaaaabbbbb'

In [380]:
('a',)*5+('b',)*5
#콤마를 붙여서 tuple 생성

('a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b')

### 문자열 관련 함수

In [381]:
string = "2024_바이오헬스 교과목 목록.xlsx"
print('202  4' in string)
# 스페이스가 있을 경우 False
print('202' in string)
# 숫자 일부만 입력하여도 True
print('교과' in string)
# 한글도 잘 작동됨

False
True
True

### 딕셔너리

In [387]:
name = [1]
try: 
    my_dict1 = {name: 'Max', 'age': 28, 'city': 'New York'}
except TypeError as e:
    print(f'Error : {e}')
# key 자리에 리스트 불가능

Error : unhashable type: 'list'

In [391]:
d = ['MAX']
my_dict2 = {'name': d, 'age': 28, 'city': 'New York'}
print(my_dict2)
# value 자리에는 리스트 가능

{'name': ['MAX'], 'age': 28, 'city': 'New York'}

In [394]:
my_dict3 = {'name': 'Max', 'name': 28, 'city': 'New York'}
try:
    print(my_dict1[0])
except KeyError as e:
    print(f'KeyError: {e}')

my_dict1['city']
#딕셔너리는 key값으로 인덱싱

KeyError: 0

'New York'

In [ ]:
my_dict1 = {name: 'Max', 'name': 28, 'city': 'New York'}
print(my_dict1['city'])
my_list = ['Max', 28, 'New York']
print(my_list[2])

# 리스트와 딕셔너리의 결과는 같지만 딕셔너리의 의미가 더욱 명확

New York
New York

In [ ]:
person_keys = ['name', 'age', 'city']
person_values = ['Max', 28, 'New York']

dict(zip(person_keys, zip(person_values)))

# zip으로 묶어 딕셔너리로 변환

{'name': ('Max',), 'age': (28,), 'city': ('New York',)}