### C431229 조영주
# **데이터 연산_ 기본**
## 연산
### 산술 연산

In [1]:
print(f'{2+3 = }')
print(f'{2.0+3 = }')
print(f'{2.0+3.0 = }')
print(f'{'2'+'3' = }')

try:
    print(f'{2+'3' = }')
except Exception as e:
    print(e)

2+3 = 5
2.0+3 = 5.0
2.0+3.0 = 5.0
'2'+'3' = '23'
unsupported operand type(s) for +: 'int' and 'str'

In [2]:
print(f'{2-3 = }')
print(f'{2.0-3 = }')
print(f'{2.0-3.0 = }')
print(f'{2*3 = }')
print(f'{2.0*3 = }')
print(f'{2.0*3.0 = }')
print(f'{2/3 = }')
print(f'{2.0/3 = }')
print(f'{2.0/3.0 = }')

2-3 = -1
2.0-3 = -1.0
2.0-3.0 = -1.0
2*3 = 6
2.0*3 = 6.0
2.0*3.0 = 6.0
2/3 = 0.6666666666666666
2.0/3 = 0.6666666666666666
2.0/3.0 = 0.6666666666666666

In [3]:
print(f'{20//3 = }')
print(f'{20%3 = }')

20//3 = 6
20%3 = 2

In [4]:
print(f'{2**3 = }')

2**3 = 8

In [5]:
var_x = 'Abc'
var_y = [100, 2, 3]
print(f'{var_x + var_x = }')
print(f'{var_y + var_y = }')
print(f'{var_x * 3 = }')
print(f'{var_y * 3 = }')

var_x + var_x = 'AbcAbc'
var_y + var_y = [100, 2, 3, 100, 2, 3]
var_x * 3 = 'AbcAbcAbc'
var_y * 3 = [100, 2, 3, 100, 2, 3, 100, 2, 3]

### 비교연산

In [8]:
print(f'{2==3 = }')
print(f'{2!=3 = }')
print(f'{2>3 = }')
print(f'{2<3 = }')
print(f'{2>=3 = }')
print(f'{2<=3 = }')

2==3 = False
2!=3 = True
2>3 = False
2<3 = True
2>=3 = False
2<=3 = True

In [16]:
var_y = [1,2,3]
print(f'{(var_y == [1,2,3]) = }')
print(f'{(var_y == (1,2,3)) = }')
print(f'{(var_y == [1,2]) = }')
print(f'{(var_y != [1,2]) = }')
print(f'{(var_y > [1,2]) = }')
print(f'{(var_y < [1,2]) = }')

(var_y == [1,2,3]) = True
(var_y == (1,2,3)) = False
(var_y == [1,2]) = False
(var_y != [1,2]) = True
(var_y > [1,2]) = True
(var_y < [1,2]) = False

### 논리 연산

In [17]:
True and True

True

In [20]:
var_x = True
var_y = (10 > 20)
print(f'{var_y = }')
print(f'{(var_x and var_y) = }')
print(f'{(var_x or var_y) = }')
print(f'{(not var_x) = }')

var_y = False
(var_x and var_y) = False
(var_x or var_y) = True
(not var_x) = False

In [21]:
print(f'{(2==3) and (2!=3) = }')

(2==3) and (2!=3) = False

### 멤버십 연산

In [24]:
var_y = [1,2,3]
print(f'{(1 in var_y) = }')
print(f'{('1' in var_y) = }')
print(f'{(4 in var_y) = }')
print(f'{(1 not in var_y) = }')
print(f'{(4 not in var_y) = }')

(1 in var_y) = True
('1' in var_y) = False
(4 in var_y) = False
(1 not in var_y) = False
(4 not in var_y) = True

### 식별 연산

In [25]:
var_x = 10
print(f'{(var_x == 10) = }')
print(f'{(var_x is 10) = }')

(var_x == 10) = True
(var_x is 10) = True

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\cyj12\AppData\Local\Temp\ipykernel_23896\2673088913.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(f'{(var_x is 10) = }')

In [26]:
var_x = 10
var_y = 10.0
var_z = var_x

print(f'{(var_x is var_y) = }')
print(f'{(var_x is var_z) = }')
print(f'{(var_x is not var_y) = }')
print(f'{(var_x is not var_z) = }')

(var_x is var_y) = False
(var_x is var_z) = True
(var_x is not var_y) = True
(var_x is not var_z) = False

### 복합 대입 연산

In [28]:
var_x = 1
var_x += 1
print(var_x)

2

In [29]:
var_x = 1
var_x += 10; print(var_x)
var_x -= 1; print(var_x)
var_x *= 2; print(var_x)
var_x /= 2; print(var_x)
var_x //= 2; print(var_x)
var_x %= 2; print(var_x)
var_x **= 2; print(var_x)

11
10
20
10.0
5.0
1.0
1.0

## 연산의 중첩
### 연산의 우선순위

In [31]:
print(2**3+5)
print(2**(3+5))
print(2+3<=4*5)
print(not 2+3<=4*5)
print(not ((2+3)<=(4*5)))

13
256
True
False
False

# **데이터 연산_응용**

### 산술 연산

In [ ]:
try:
    print(f'{2.0+'3' = }')
except Exception as e:
    print(e)
# 실수 + 문자열 또한 에러

'2.0'+'3.0' = '2.03.0'
'2.0'+'a1' = '2.0a1'
unsupported operand type(s) for +: 'float' and 'str'

In [52]:
list_x = {2-3,4-5, 4%7, 6//4, 2.0, '2-3'}
print(list_x)
#list_x로 나타날 때 문자열은 계산되지 않음
#데이터의 순서가 바뀜
#중복되는 값(-1)은 하나로 나타남

set_x = {2-3,4-5, 4%7, 6//4, 2.0, '2-3'}
print(set_x)
# 집합 또한 순서가 바뀌며 중복되는 값은 하나로 나타남

{1, 2.0, '2-3', 4, -1}
{1, 2.0, '2-3', 4, -1}

In [4]:
var_x = [33, 2, 'a', -1]
set(var_x + var_x)
set(var_x * 3)
# 집합 변환시 중복값은 나타나지 않음

print(f'{var_x * 2**3 = }')
#2의 3제곱과 문자열의 곱 


list_x = [33, 2, 'a', 4]
list_y = [33, 1, 'a', 4]
try:
    print(f'{list_x - list_y = }')
except TypeError as e:
    print(e)
# 리스트와 리스트는 뺄셈 불가능

var_x * 2**3 = [33, 2, 'a', -1, 33, 2, 'a', -1, 33, 2, 'a', -1, 33, 2, 'a', -1, 33, 2, 'a', -1, 33, 2, 'a', -1, 33, 2, 'a', -1, 33, 2, 'a', -1]
unsupported operand type(s) for -: 'list' and 'list'

### 비교 연산

In [ ]:
var_x = [1,2,3]
var_y = '1,2,3'
print(var_x == var_y) 
#var_x와 var_y는 다름

False
'<' not supported between instances of 'str' and 'int'
True

In [92]:
try:
    print(f'{'a'<1 = }')
except TypeError as e:
    print(e)
#문자열과 정수는 비교 불가 

print(f'{'a'<'b' = }')
#문자열과 문자열 비교 가능

'<' not supported between instances of 'str' and 'int'
'a'<'b' = True

In [95]:
var_x = ['1','2','3']
var_y = ['a','b']

print(f'{(var_x > var_y) = }')
#var_x는 var_y보다 크지 않음

(var_x > var_y) = False

### 논리 연산

In [16]:
var_x = False
var_y = (9%2 > 3-2)

print(f'{var_y = }')
# var_y는 False
print(f'{var_x and var_y}')
# var_x와 var_y 모두 False
print(f'{var_x or var_y}')
# var_x와 var_y 둘 중 어느 것도 True가 아니기 때문에 False
print(f'{(not var_x) = }')
# var_x의 논리부정은 True

var_y = False
False
False
(not var_x) = True

### 멤버십 연산

In [36]:
list_x = [1, '2', 'a', '**']

try:
    print(f'{(1 in list_x[0]) = }')
except TypeError as e:
    print(e)

# 잘못된 표현
# 오른쪽 시퀀스는 반복 가능한 문자열, 리스트 등이어야 함

argument of type 'int' is not iterable

### 식별 연산

In [37]:
list_x = [1, '2', 'a', '**']

print(f'{(list_x[0] == 1) = }')
# 리스트의 0번째는 1 (True)

(list_x[0] == 1) = True

In [49]:
var_x = 'a'
var_y = 'a'*1

print(f'{(var_x == var_y) = }')
# var_x와 var_y의 값이 같음 

print(f'{(var_x is var_y) = }')
# var_x와 var_y의 주소가 같음

(var_x == var_y) = True
(var_x is var_y) = True

### 복합 대입 연산

In [63]:
var_x = 2
var_y = 1
var_y += var_x
print(var_y)
# a 자리에 var_x도 대입 가능 
# var_x(2)+var_y(1)=3

var_y *= 'a'
print(var_y)
# a 자리에 문자 대입하여 곱셈 다능 
# var_y(3)*a=aaa

var_y = 3
try:
   var_y += 'a'; print(var_y)
except TypeError as e:
    print(e)
# 문자와 숫자는 덧셈 불가능

3
aaa
unsupported operand type(s) for +=: 'int' and 'str'