# **C431229 조영주**

# **컴프리헨션_기본**

## 리스트 컴프리헨션

### 리스트 컴프리헨션을 사용한 리스트 생성

In [51]:
nums_comp = [num+10 for rum in range(1,6)]
print(f'{nums_comp = }')

nums_comp = [15, 15, 15, 15, 15]

### for문을 사용한 리스트 생성과 비교

In [76]:
nums_for = []
for num in range(1,6):
    nums_for.append(num+10)
print(f'{nums_for = }')

nums_for = [11, 12, 13, 14, 15]

### map함수를 사용한 리스트 생성과 비교

In [53]:
def add_ten(num):
    return num +10
add_ten(5)

15

In [54]:
map(add_ten, [1,2,3,4,5])

In [55]:
list(map(add_ten, [1,2,3,4,5]))

[11, 12, 13, 14, 15]

In [56]:
nums_map = list(map(add_ten, range(1,6)))
print(f'{nums_map = }')

nums_map = [11, 12, 13, 14, 15]

### 수식을 적용한 리스트 컴프리헨션

In [57]:
nums_math = [num*2-1 for num in range(1,6)]
print(f'{nums_math = }')

nums_math = [1, 3, 5, 7, 9]

### 함수를 적용한 리스트 컴프리헨션

In [59]:
def addString(x):
    return 'Int_' +str(x)
nums_func = [addString(num) for num in range(1,6)]
print(f'{nums_func = }')

nums_func = ['Int_1', 'Int_2', 'Int_3', 'Int_4', 'Int_5']

### if조건문을 적용한 리스트 컴프리헨션

In [61]:
nums_odds = [num for num in range(1,6) if num % 2 == 1]
print(f'{nums_odds = }')

nums_odds = [1, 3, 5]

In [62]:
nums_odds_zero = [num if num %2 == 1 else 0 for num in range (1,6)]
print(f'{nums_odds_zero = }')

nums_odds_zero = [1, 0, 3, 0, 5]

In [63]:
nums_odds_less4 = [num for num in range(1,6) if num % 2 == 1 if num < 4]
print(f'{nums_odds_less4 = }')

nums_odds_less4 = [1, 3]

### 중첩된 리스트 컴프리헨션

In [68]:
nums_pairs = [(x,y) for x in range(1,3) for y in ['a', 'b', 'c']]
print(f'{nums_pairs = }')

nums_pairs = [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

In [69]:
num_pairs_sum5 = [(x,y) for x in range(1,6) for y in range(1,6) if x+y==5]
print(f'{num_pairs_sum5 = }')

num_pairs_sum5 = [(1, 4), (2, 3), (3, 2), (4, 1)]

## 딕셔너리 컴프리헨션

In [71]:
ids = [1,2,3,4]
student_names = ['김홍익', '이컴프리', '박헨션', '최딕션']
students_for = {id:name for id in ids for name in student_names}
print(f'{students_for = }')

students_for = {1: '최딕션', 2: '최딕션', 3: '최딕션', 4: '최딕션'}

In [72]:
student_names = ['김홍익', '이컴프리', '박헨션', '최딕션']
students_enumerate = {id:name for id, name in enumerate(student_names)}
print(f'{students_enumerate = }')

students_enumerate = {0: '김홍익', 1: '이컴프리', 2: '박헨션', 3: '최딕션'}

In [73]:
ids = [1,2,3,4]
student_names = ['김홍익', '이컴프리', '박헨션', '최딕션']
students_zip = {id:name for id, name in zip(ids, student_names)}
print(f'{students_zip =}')

students_zip ={1: '김홍익', 2: '이컴프리', 3: '박헨션', 4: '최딕션'}

## set 컴프리헨션

In [74]:
sum_list = [x+y for x in range(1,60 )for y in range(1,6)]
print(f'{sum_list = }\n')
sum_set = {x+y for x in range(1,6) for y in range(1,6)}
print(f'{sum_set = }')

sum_list = [2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 6, 7, 8, 9, 10, 7, 8, 9, 10, 11, 8, 9, 10, 11, 12, 9, 10, 11, 12, 13, 10, 11, 12, 13, 14, 11, 12, 13, 14, 15, 12, 13, 14, 15, 16, 13, 14, 15, 16, 17, 14, 15, 16, 17, 18, 15, 16, 17, 18, 19, 16, 17, 18, 19, 20, 17, 18, 19, 20, 21, 18, 19, 20, 21, 22, 19, 20, 21, 22, 23, 20, 21, 22, 23, 24, 21, 22, 23, 24, 25, 22, 23, 24, 25, 26, 23, 24, 25, 26, 27, 24, 25, 26, 27, 28, 25, 26, 27, 28, 29, 26, 27, 28, 29, 30, 27, 28, 29, 30, 31, 28, 29, 30, 31, 32, 29, 30, 31, 32, 33, 30, 31, 32, 33, 34, 31, 32, 33, 34, 35, 32, 33, 34, 35, 36, 33, 34, 35, 36, 37, 34, 35, 36, 37, 38, 35, 36, 37, 38, 39, 36, 37, 38, 39, 40, 37, 38, 39, 40, 41, 38, 39, 40, 41, 42, 39, 40, 41, 42, 43, 40, 41, 42, 43, 44, 41, 42, 43, 44, 45, 42, 43, 44, 45, 46, 43, 44, 45, 46, 47, 44, 45, 46, 47, 48, 45, 46, 47, 48, 49, 46, 47, 48, 49, 50, 47, 48, 49, 50, 51, 48, 49, 50, 51, 52, 49, 50, 51, 52, 53, 50, 51, 52, 53, 54, 51, 52, 53, 54, 55, 52, 53, 54, 55, 56, 53, 54, 55, 56, 57, 54, 55, 56, 57, 58, 55, 56, 57, 58, 59, 56, 57, 58, 59, 60, 57, 58, 59, 60, 61, 58, 59, 60, 61, 62, 59, 60, 61, 62, 63, 60, 61, 62, 63, 64]

sum_set = {2, 3, 4, 5, 6, 7, 8, 9, 10}

## tuple 컴프리헨션

In [75]:
nums_pairs_list = [(x,y) for x in range(1,3) for y in ['a', 'b', 'c']]
print(f'{nums_pairs_list = }\n')
nums_pairs_tuple = ((x,y) for x in range(1,3) for y in ['a', 'b', 'c'])
print(f'{nums_pairs_tuple = }')
print(f'{tuple(nums_pairs_tuple) = }\n')
nums_pairs_tuple2 = tuple((x,y) for x in range(1,3) for y in ['a', 'b', 'c'])
print(f'{nums_pairs_tuple2 = }')

nums_pairs_list = [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

nums_pairs_tuple = <generator object <genexpr> at 0x000001A3CA243A00>
tuple(nums_pairs_tuple) = ((1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'))

nums_pairs_tuple2 = ((1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'))

## 컴프리헨션_응용

### 수식을적용한 리스트 컴프리헨션

In [78]:
nums_math = [num%2 for num in range(1,6)]
print(f'{nums_math = }')
# 나머지 계산도 가능

nums_math = [1, 0, 1, 0, 1]

### 함수를 적용한 리스트 컴프리헨션

In [79]:
def addString(x):
    return 'Int_' + str(x)
list(map(addString, range (1,6)))

#map함수를 활용하여 적용

['Int_1', 'Int_2', 'Int_3', 'Int_4', 'Int_5']

In [85]:
[chr for chr in 'AaBbCcDdEe']
[ chr for chr in 'AaBbCcDdEe' if chr in 'ABCDE']
# 알파벳 중 대문자만 출력

['A', 'B', 'C', 'D', 'E']

In [89]:
[chr for chr in 'AaBbCcDdEe']
[chr if chr in 'ABCDE' else 'AaBbCcDdEe'.find(chr) for chr in 'AaBbCcDdEe'] 
# 대문자 혹은 소문자의 위치 출력

['A', 1, 'B', 3, 'C', 5, 'D', 7, 'E', 9]

In [91]:
[chr for chr in 'AaBbCcDdEe']
[chr if chr in 'ABCDE' else i for i, chr in enumerate('AaBbCcDdEe')]
# enumerate를 활용한 대문자 혹은 소문자의 위치 출력

['A', 1, 'B', 3, 'C', 5, 'D', 7, 'E', 9]

In [87]:
for i, ch in enumerate('AaBbCcDdEe'):
    print(i, ch)
# 각 알파벳과 위치 출력

0 A
1 a
2 B
3 b
4 C
5 c
6 D
7 d
8 E
9 e

### 중첩된 리스트 컴프리헨션

In [84]:
num_pairs_sum5 = [(x,y) for y in range(1,6) for x in range(1,6) if x+y==5]
print(f'{num_pairs_sum5 = }')
#x와 y 순서를 바꿔 거꾸로 출력되도록록 함

num_pairs_sum5 = [(4, 1), (3, 2), (2, 3), (1, 4)]

### 딕셔너리 컴프리헨션

In [96]:
ids = ['A','a','B','b','C']
students_names = ['김홍익','김딕션','조영주','조정현','박세경']
students_zip = {id:name for id, name in zip(ids, students_names) if id in'ABC'}
print(f'{students_zip = }')
#if문을 함께 활용하여 대문자 아이디만 출력

students_zip = {'A': '김홍익', 'B': '조영주', 'C': '박세경'}