# **C431229_조영주**

# **함수_기본**

## 함수

### 함수의 호출

In [3]:
def calcSumProduct(a,b=10):

    plus = a+b
    multiple = a*b

    return plus, multiple

In [4]:
sum, product = calcSumProduct(3,7)
print(f'{sum = }, {product = }')

sum = 10, product = 21

In [5]:
sum, product = calcSumProduct(3)
print(f'{sum = }, {product = }')

sum = 13, product = 30

In [36]:
sum, product = calcSumProduct(b=3, a=7)
print(f'{sum = }, {product = }')

sum = 10, product = 21

### 함수 주석

In [37]:
def calcSumProduction(a: int, b:int = 10) -> int:
    """calcSumProduct 함수는 a와 b를 더한 값과 곱한값을 튜플로 반환하는 함수이다."""
    print(f'{a = }, {b = }')
    plus = a+b
    multiple = a*b
    return plus, multiple

In [38]:
help(calcSumProduct)

Help on function calcSumProduct in module __main__:

calcSumProduct(a, b=10)

In [41]:
import numpy as np
np.prod([1,2,3])

np.int64(6)

## 인수의 개수가 정해지지 않은 함수

### *args의 활용

In [43]:
import numpy as np
def calcSumProduct2(*inputs):
    """calcSumProduct2 함수는 입력의 합과 곱을 튜플로 반환하는 함수이다."""
    print(f'{inputs = }')
    plus = np.sum(inputs)
    multiple = np.prod(inputs)
    return plus, multiple
sum, product = calcSumProduct2(1,2,3)
print(f'{sum = }, {product = }\n')
sum, product = calcSumProduct2(1,2,3,4,5,6,7,8)
print(f'{sum = }, {product = }')

inputs = (1, 2, 3)
sum = np.int64(6), product = np.int64(6)

inputs = (1, 2, 3, 4, 5, 6, 7, 8)
sum = np.int64(36), product = np.int64(40320)

### **kwargs의 활용

In [46]:
import numpy as np
def calcSumProduct2(**inputs):
    print(f'{inputs = }')
    plus = 0
    multiple = 1
    for _, value in inputs.items():
        plus += value
        multiple *= value
    return plus, multiple
sum, product = calcSumProduct2(a=1, b=2)
print(f'{sum = }, {product = }\n')
sum, product = calcSumProduct2(a=1, b=2, c=3, d=4)
print(f'{sum = }, {product = }')

inputs = {'a': 1, 'b': 2}
sum = 3, product = 2

inputs = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
sum = 10, product = 24

## 지역변수와 전역변수

### 함수 내에서 전역변수의 사용

In [6]:
var_global = '전역 변수'
def useGlobalVariable(var_local):

    print(f'{var_global = }')
    print(f'{var_local = }')

useGlobalVariable('인자는 지역 변수')

print(f'{var_global = }')

try:
    print(f'{var_local = }')
except NameError as e:
    print(e)

var_global = '전역 변수'
var_local = '인자는 지역 변수'
var_global = '전역 변수'
name 'var_local' is not defined

### 함수 내에서 전역변수를 변경하는 방법

In [7]:
var_global = '전역변수'
def useGlobalVariable(var_local):
    global var_global

    print(f'{var_global = }')
    print(f'{var_local = }')

    var_global = '이제 전역 변수임'
useGlobalVariable('인자는 지역 변수')

print(f'{var_global = }')

var_global = '전역변수'
var_local = '인자는 지역 변수'
var_global = '이제 전역 변수임'

## 람다함수

### 람다함수 정의

In [8]:
def addTen(x):
    return x+10

addTen(5)

15

In [9]:
lambda x: x+10

In [10]:
(lambda x: x+10)(5)

15

In [11]:
addTen = lambda x: x+10

addTen(5)

15

### 람다함수 응용

#### 람다함수에 외부 변수의 사용

In [12]:
y = 100
(lambda x: x+y+10)(5)

115

#### 람다함수에 조건부 표현식 사용

In [13]:
(lambda x: '(3의 배수)' +str(x) if x%3==0 else x)(9)

'(3의 배수)9'

In [14]:
(lambda x: '(3의 배수)' +str(x) if x%3==0 else x)(8)

8

In [15]:
(lambda x: '(3의 배수)' +str(x) if x%3==0 else float(x) if x%3==1 else x)(9)

'(3의 배수)9'

In [17]:
(lambda x: '(3의 배수)' +str(x) if x%3==0 else float(x) if x%3==1 else x)(7)

7.0

In [18]:
(lambda x: '(3의 배수)' +str(x) if x%3==0 else float(x) if x%3==1 else x)(5)

5

#### 람다함수에 인자 여러개 넣기

In [19]:
(lambda x,y: x if x%3==0 else x+y)(3,4)

3

In [20]:
(lambda x,y: x if x%3==0 else x+y)(2,4)

6

### 람다함수의 활용

#### map 함수에 적용

In [21]:
list(map(lambda x: x+10, [1,2,3]))

[11, 12, 13]

In [22]:
ldMultiple3 = lambda x: '(3의 배수) ' +str(x) if x%3==0 else x
list(map(ldMultiple3, range(10)))

['(3의 배수) 0', 1, 2, '(3의 배수) 3', 4, 5, '(3의 배수) 6', 7, 8, '(3의 배수) 9']

In [35]:
ldMultiple3f = lambda x: '(3의 배수)' +str(x) if x%3==0 else float(x) if x%3==1 else x
list(map(ldMultiple3f,range(10)))

['(3의 배수)0', 1.0, 2, '(3의 배수)3', 4.0, 5, '(3의 배수)6', 7.0, 8, '(3의 배수)9']

In [36]:
ldMultiple3a = lambda x,y: x if x%3==0 else x+y
list(map(ldMultiple3a,range(10), [100]*10))

[0, 101, 102, 3, 104, 105, 6, 107, 108, 9]

## **함수_응용**

### 함수 주석

In [ ]:
def multiple1(x): 
    """multiple 함수는 x를 3으로 나눈 나머지에 따라 값을 반환하는 함수이다."""
    if x%3 == 0:
        return str(x)
    elif x%3 == 1:
        return float(x)
    else: 
        return(x)
    
help(multiple1)

#다양한 함수에 대한 정보를 작성할 수 있음음

Help on function multiple1 in module __main__:

multiple1(x)
    multiple 함수는 x를 3으로 나눈 나머지에 따라 값을 반환하는 함수이다.

### 람다함수 응용

In [10]:
def multiple1(x):
    if x%3 ==0:
        return '(3의 배수)'+str(x)
    elif x%3==1:
        return(float(x))
    else:
        return(x)
x = 8
multiple1(x)

8

In [12]:
(lambda x: '(3의 배수)'+str(x) if x%3 == 0 else float(x) if x%3 ==1 else x)(8)
# 같은 내용을 람다함수를 활용하거나 def를 활용할 수 있음

8

In [13]:
def multiple2(x):
    if x%3 ==0:
        value = '(3의 배수)' + str(x)
    elif x%3 == 1:
        value = float(x)
    else:
        value = x
    return value

multiple2(813)

#람다함수를 def문으로 바꿈

'(3의 배수)813'

### 람다함수의 활용

In [45]:
list(map(lambda x: x+1, [10,11,12]))
idmultiple = lambda x,y,z: x if x%3 == 0 else y+z if x%3 == 1 else y*z
list(map(idmultiple, range(10), [10]*10, [3]*10))

#3개의 변수도 활용 가능

[0, 13, 30, 3, 13, 30, 6, 13, 30, 9]